:root{
    --primary-color : #3867D6;
    --panel-color : #F0F3F5;
    --text-color : #29363d;
    --disable-color : #536c79;
    --icon-color : #a2b8ec;
    --red-color : #F03434;
    --green-color : #20BF6B;
    --white-color : #fff;
    --yellow-color : #F6BB42;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

body, html{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* tr, th, td{
    border: #29363d 1px solid;
} */

/* 메인 판넬 */
.wrapper{
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
}


/* 상단바 */
#top_bar{
    position: fixed;
    top: -60px;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
    width: 100%;
    height: 60px;
    background: var(--white-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#top_bar.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--white-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btn_top_bar{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: none;
}

#btn_top_bar .icon_menu{
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

/* 로고 인덱스 */
.logo{
min-width: 200px;
}

.logo_item{
        margin-left: 18px;
    font-size: 1.8rem;
    line-height: 60px;
    color: var(--primary-color);
}

.menu{
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 600px;
    margin-right: 8px; /*왼쪽 마진이 18이나 menu_item 양옆마진을 10 줬으므로 오른쪽 마진은 8만 줌 */
}

.menu_item{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--text-color);
    border: var(--primary-color) 1px solid;
    border-radius: 6px;
    margin: 0px 10px;
}

.menu .active{
    width: 100px;
    height: 40px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 6px;
    border: var(--primary-color) 1px solid;
    line-height: 60px;
    background-color: var(--primary-color);
}


/* 메인 판넬 */
.main_panel{
    width: 100%;
    height: 100%;
    background: var(--panel-color);
    display: flex; /* 메인 콘텐츠를 중앙에 위치시킴 */
    align-items: center;
    justify-content: center;
}

/* 호기 변경 */
#change_mc{
    position: fixed;
    top: -999px;
    left: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    transition: all 0.3s;
    width: 50%;
    height: 85%;
    background-color: var(--panel-color);
    border-radius: 18px;
    z-index: 999;
}

#change_mc.active{
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 999;

}

.title_change_mc{
    width: 100%;
    height: 8vh;
    font-size: 1.7rem;
    padding: 2.2vh;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.box_change_mc{
    width: 100%;
    height: calc(100% - 8vh);
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn_change_mc{
    background: var(--primary-color);
    border-radius: 6px;
    width: 24.1%;
    margin: 3px;
}

.btn_text_change_mc{
    color: var(--white-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* 테마 변경 */
#change_theme{
    position: fixed;
    top: -999px;
    left: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    transition: all 0.3s;
    width: 50%;
    height: 85%;
    background-color: var(--panel-color);
    border-radius: 18px;
    z-index: 999;
}

#change_theme.active{
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 999;

}

.title_change_theme{
    width: 100%;
    height: 8vh;
    font-size: 1.7rem;
    padding: 2.2vh;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.box_change_theme{
    width: 100%;
    height: calc(100% - 8vh);
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.btn_change_theme{
    background: var(--primary-color);
    border-radius: 6px;
    width: 20%;
    height: 10%;
    margin: 3px;
}

.btn_text_change_theme{
    color: var(--white-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* 분해능 설정 */
#set{
    position: fixed;
    top: -999px;
    left: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    transition: all 0.3s;
    width: 50%;
    height: 85%;
    background-color: var(--panel-color);
    border-radius: 18px;
    z-index: 999;
}

#set.active{
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 999;

}

.title_set{
    width: 100%;
    height: 8vh;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title_set span{
    font-size: 1.7rem;
    width: calc(100% - 100px); /* 분해능설정 상단바에서 저장버튼 가로넓이만큼 뺌*/
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.btn_set_save{
    font-size: 1.4rem;
    background: var(--green-color);
    width: 100px;
    height: 60%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.box_set{
    width: 100%;
    height: calc(100% - 8vh);
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.box_set table{
    font-size: 85%;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    text-align: center;
}

.box_set table td input{
    width: 100%;
    height: 100%;
}

.btn_set{
    background: var(--primary-color);
    border-radius: 6px;
    width: 20%;
    height: 10%;
    margin: 3px;
}

.btn_text_set{
    color: var(--white-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* call1 받아오는 히든페이지 */
.call_page{
    height:44px;
    width:44px;
    border-radius:6px;
    border:1px solid black;
    /* visibility:hidden; */
}


/* 메인 콘텐츠 */
.main_content{
    width: 100%;
    height: 100%;
    background: var(--white-color);
}

.main_content .top_section{
    width: calc(100% - 40px);
    height: 10%;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main_content .top_section .top_date{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content .top_section .top_time{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content .top_section .top_machine{
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content .top_section .top_count{
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content .top_section .top_iframe{
    width: 14%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 제목 */
.top_th{
        width: 80px;
font-size: 1.7rem;
font-weight: 600;
color: var(--primary-color);
margin-left: 18px;
}

/* 제목 */
.top_td{
    width: calc(100% - 80px);
    font-size: 1.7rem;
        font-weight: 800;
    color: var(--text-color);
    margin-left: 18px;
    }

#show_change_mc{
    background-color: var(--white-color);
    width: 20px;
    height: 20px;
    border: none;
    margin-left: 10px;
}

#show_change_mc .icon_menu{
    width: 100%;
    height: 100%;
}

/* 테마변경 */
#show_change_theme{
    background-color: var(--white-color);
    width: 35px;
    height: 35px;
    border: none;
    margin-left: 10px;
}

#show_change_theme .icon_menu{
    width: 100%;
    height: 100%;
}

#show_set{
    position: absolute;
    right: 30px;
    background-color: var(--white-color);
    width: 80px;
    height: 80px;
    border: none;
    margin-left: 10px;
    border-radius: 50%;
}

#show_set:hover{
    background-color: var(--disable-color);
}

#show_set .icon_menu{
    width: 50%;
    height: 50%;
}


/* 시계 */
.clock{
    font-size: 2rem;
    color: var(--text-color);
}


table{
    border-collapse: collapse;
    width: calc(100% - 36px);
    height: 90%; /* 상단섹션, 파란선 값 빼줌*/
    margin: 0px 18px;
    font-size: 0.875rem;
    table-layout: fixed;

}

table th{
    height: 40px;
    border-top: 1px solid var(--icon-color);
    border-bottom: 1px solid var(--icon-color);
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 2rem;
    }

table td{
    height: 100%;
}




/* 차트 */
.chart{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    width: 80%;
    height: auto;
}

.box_text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_text1{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}

.box_text2{
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}

.box_text2{
    color: var(--text-color);
}

.box_text3{
color: var(--text-color);
}

.box_text4{
color: var(--text-color);
}

.text1{
    font-size: 4rem;
    color: var(--primary-color);
}

/* .text1{
    font-size: 4rem;
    color: var(--text-color);
    text-align: center;
} */

/* .text2{
    position: absolute;
    top: 100px;
    left: 120px;
    width: 40px;
    height: 40px;
    background: #ccc;
    color: var(--text-color);
    font-size: 1rem;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
}

.text4{
    position: absolute;
    top: 100px;
    right: 120px;
    width: 40px;
    height: 40px;
    background: #ccc;
    color: var(--text-color);
    font-size: 1rem;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
} */